# 0. Imports

In [28]:
import pandas as pd
import numpy as np

#Suppress scientific notation
pd.set_option('display.float_format', '{:.2f}'.format)

# 1. Extraction

In [29]:
data = pd.read_csv('datasets/kc_house_data.csv')

# 2. Transformation

## Perform data cleansing.

In [30]:
data = data[data['price'] < 500000000]

## Calculate the median price by zip code.

In [31]:
df_zipcode_median = data[['price','zipcode']].groupby('zipcode').median().reset_index()
df_zipcode_median.columns = ['zipcode','price_median']

## Join the column of median prices with the main dataset.

In [32]:
df_joined_median_price = pd.merge(data, df_zipcode_median, on = 'zipcode', how = 'inner') 
df_joined_median_price.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_median
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,1180,0,1955,0,98178,47.51,-122.26,1340,5650,278277.00
1,4060000240,20140623T000000,205425.00,2,1.00,880,6780,1.00,0,0,...,880,0,1945,0,98178,47.50,-122.25,1190,6780,278277.00
2,4058801670,20140717T000000,445000.00,3,2.25,2100,8201,1.00,0,2,...,1620,480,1967,0,98178,47.51,-122.24,2660,8712,278277.00
3,2976800796,20140925T000000,236000.00,3,1.00,1300,5898,1.00,0,0,...,1300,0,1961,0,98178,47.51,-122.25,1320,7619,278277.00
4,6874200960,20150227T000000,170000.00,2,1.00,860,5265,1.00,0,0,...,860,0,1931,0,98178,47.50,-122.27,1650,8775,278277.00

## Generate the status column with buying recommendation.

In [42]:
df_joined_median_price['status'] = df_joined_median_price.apply( lambda row : 'buy' if (row['condition'] == 5) & (row['price'] < row['price_median']) 
                                                                                    else 'not buy', axis=1)

## Generate a "selling_price" with the selling price calculated.